<container>
      <div>
        <h2><%= @eblog.title %></h2>
        <p>
          <%= @eblog.content %>
        </p>
    </div>

    <div>
      <h2> Comments </h2>
      <% @comments.each do |comment| %>
        <div>
          <h3><%= comment.title %></h3>
          <p> <%= comment.body %> </p>
        </div>
      <% end %>
    </div>
</container>