
<container>
  <% @eblogs.each do |eblog| %>
  <div>
    <h2><%= eblog.title %></h2>
    <p>-by <%= eblog.author %></p>

    <%= link_to "Read ", eblog_path(eblog) %>or
    <%= link_to  "Delete", eblog_path(eblog), method: :delete %>
  </div>
  <% end %>
</container>

